node_modules
/lib
/fixtures/*/lib
/packages/*/lib
/**/*.tsbuildinfo
/dist
custom-elements.json
!/docs/assets/custom-elements.json
docs/_merged_data/
docs/_merged_assets/
docs/_merged_includes/
_site-dev
_site
