{
  "customSyntax": "postcss-lit",
  "extends": [
    "stylelint-config-standard"
  ],
  "rules": {
    "alpha-value-notation": ["number"],
    "color-function-notation": ["legacy"],
    "media-feature-range-notation": "prefix",
    "number-max-precision": [4, {
      "ignoreProperties": ["animation-timing-function", "transform"]
    }],
    "property-no-vendor-prefix": [true, {
      "ignoreProperties": ["user-select"]
    }],
    "selector-class-pattern": null,
    "value-keyword-case": null
  }
}
