api-viewer[theme='custom'] {
  background-color: #fff;
  border: none;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.16);
  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
  --ave-primary-color: #3273dc;
  --ave-accent-color: #f14668;
  --ave-header-color: #0a0a0a;
  --ave-border-color: #ededed;
}

/* Custom layout styles */
api-viewer[theme='custom']::part(header) {
  padding: 0.75rem 1rem;
  background: #ededed;
}

api-viewer[theme='custom']::part(demo-output) {
  border-top: none;
}

/* Custom input styles */
api-viewer[theme='custom']::part(input),
api-viewer[theme='custom']::part(select) {
  padding: calc(0.5em - 1px) calc(0.75em - 1px);
  font-size: 1rem;
}

api-viewer[theme='custom']::part(input) {
  font-size: 0.75rem;
}

/* Custom checkbox styles */
api-viewer[theme='custom']::part(checkbox) {
  margin: 0.5rem 0.25rem;
}

/* Custom select styles */
api-viewer[theme='custom']::part(select) {
  height: 2.5em;
  padding-right: 2.5em;
  font-size: 1em;
  border: solid 1px #dbdbdb;
  border-radius: 4px;
  line-height: 1.5;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

api-viewer[theme='custom']::part(select-label) {
  height: 2.5em;
  max-width: 100%;
  position: relative;
  font-size: 0.75rem;
}

api-viewer[theme='custom']::part(select-label)::after {
  display: block;
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  right: 1.125em;
  width: 0.625em;
  height: 0.625em;
  margin-top: -0.4375em;
  border: 3px solid transparent;
  border-radius: 2px;
  border-right: 0;
  border-top: 0;
  transform: rotate(-45deg);
  transform-origin: center;
  border-color: #3273dc;
  pointer-events: none;
}

/* Custom tab styles */
api-viewer[theme='custom']::part(tab) {
  max-width: 155px;
  font-size: 0.875rem;
  text-transform: initial;
  font-weight: normal;
}

@media (max-width: 480px) {
  api-viewer[theme='custom']::part(tab) {
    max-width: 120px;
  }
}
